@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: 'Code Pro';
    src: url('../fonts/Code-Pro.woff2') format('woff2'),
        url('../fonts/Code-Pro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Code Pro';
    src: url('../fonts/Code-Pro-Bold.woff2') format('woff2'),
        url('../fonts/Code-Pro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}