/* Title */
.title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
}
.title_white {
    color: #fff;
}
/* Button */
.button {
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    background-color: #F4841B;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    color: #FFFFFF;
    transition: background-color 0.3s ease 0s;
}
.button:hover {
    background-color: #eb801bc8;
}
@media (max-width: 991.98px) {
    .button {
        font-size: 14px;
        padding: 8px 20px;
    }
}
