/* Title */
.title {
    font-weight: 700;
	font-size: 64px;
	line-height: 1;
	color: #FFFFFF;
}
.title_black {
    color: #000;
}
@media (max-width: 991.98px) {
    .title {
        font-size: 42px;
    }
}
@media (max-width: 560px) {
    .title {
        font-size: 45px;
    }
}
@media (max-width: 450px) {
    .title {
        font-size: 36px;
    }
}
/* Subtitle */
.sub-title {
    text-align: center;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
}
.sub-title_white {
    color: #fff;
}
@media (max-width: 991.98px) {
    .sub-title {
        font-size: 36px;
    }
}
@media (max-width: 560px) {
    .sub-title {
        font-size: 24px;
    }
}
/* Button */
.button {
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    background-color: #F4841B;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    color: #FFFFFF;
    transition: background-color 0.3s ease 0s;
}
.button:hover {
    background-color: #eb801bc8;
}
@media (max-width: 991.98px) {
    .button {
        font-size: 14px;
        padding: 8px 20px;
    }
}
